body {
      font-family: Arial ,Verdana, sans-serif ;
      background-color: linen ;}
h1, h2, h3 {
      font-family: Arial ;
      margon-left: 40px;
      color: #ee3e80 ;
    }
p {
      font-family: Arial ;
      color: maroon ;
    }
i , b {color: green;}
*{ }//universal
